:root {
    --main-font: clamp(16px, 1.6vw, 1.5rem);
    --title-font: clamp(20px, 3vw, 5rem);
    --font-color: rgb(245, 245, 245);
    --background-img: url('../dist/images/pexels-rachel-claire.jpg');
    --background-color: rgba(69, 89, 90, 0.342);
    --shadow: rgba(255, 255, 255, 0.19) 0px 10px 20px, rgba(255, 254, 254, 0.23) 0px 6px 6px;;
}

/* width */
::-webkit-scrollbar {
    width: .5rem;
}

/* Track */
::-webkit-scrollbar-track {
background-color: var(--font-color);
opacity: .5;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: var(--background-color); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555; 

}

body {
    display: flex;
    font-size: var(--main-font);
    color: var(--font-color);
    background-image: var(--background-img);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

#content {
    display: grid;
    grid-template-rows: 1fr 13fr 1fr;
    grid-template-columns: 1fr;
    background-color: var(--background-color);
    padding: 1rem;
    padding-bottom: 0;
    box-shadow: var(--shadow);
    border-radius: .5rem;
}

.header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    grid-row: 1 / 2;
}

.header-button {
    font-size: var(--title-font);
    margin: 1rem;
}

.active-button {
    box-shadow: var(--shadow);
}

.main-content {
    grid-row: 2 / 3;
}

.footer {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 3 / 4;
    align-items: center;
    justify-content: center;
    font-size: calc(var(--main-font) - 3px);
    text-align: center;
    bottom: 0;
}

.github-mark {
    width: var(--main-font);
    filter: invert(1);
    transition: all .3s;
    margin-left: .2rem;
    margin-right: .2rem;
}

.github-mark:hover {
    transform: rotate(360deg);
}

a[href] {
    color: var(--font-color);
    text-decoration: none;
    transition: all .2s;
}

a[href]:hover {
    text-shadow: var(--shadow);
}

a:visited {
    color: var(--font-color);
}