:root {
    --main-font: clamp(16px, 1.6vw, 1.5rem);
    --title-font: clamp(20px, 2.5vw, 5rem);
    --font-color: rgb(252, 253, 235);
    --background-img: url('../dist/img/pexels-rachel-claire.jpg');
    --background-color: rgba(9, 12, 12, 0.514);
    --shadow: rgba(223, 228, 235, 0.4) 0px 0px 0px 2px, rgba(223, 228, 235, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

/* width */
::-webkit-scrollbar {
    width: .5rem;
}

/* Track */
::-webkit-scrollbar-track {
background-color: var(--font-color);
opacity: .5;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: var(--background-color); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555; 

}

body {
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: var(--main-font);
    color: var(--font-color);
    background-image: var(--background-img);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

#content {
    display: grid;
    grid-template-rows: auto 15fr auto;
    grid-template-columns: 1fr;
    background-color: var(--background-color);
    padding: 1rem;
    padding-bottom: 0;
    width: clamp(300px, 60vw, 70rem);
    border-radius: .5rem;
}

.header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    grid-row: 1 / 2;
    padding-top: 0;
    max-height: 5rem;
}

.header-button {
    font-size: var(--title-font);
    margin: 1rem;
    padding-left: .5rem;
    padding-right: .5rem;
    border-radius: .2rem;
    transition: all 1s;
}

.header-button:hover {
    box-shadow: var(--shadow);
}

.active-button {
    box-shadow: var(--shadow);
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    grid-row: 2 / 3;

    
}

.dishes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-img-holder, .dishes-container div {
    display: flex;
    margin: 1rem;
    box-shadow: var(--shadow);
    width: clamp(100px, 40vw, 50rem);
    height: clamp(100px, 40vw, 50rem);
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.home-img, .menu-img {
    display: flex;
    width: clamp(100px, 40vw, 50rem);
    margin-top: 0;
}

.home-text, .menu-text {
    display: flex;
    margin: 1rem;
    align-items: center;
    justify-content: center;
    text-align: justify;
    margin-top: 0;
}

.home-text::first-letter, .menu-text::first-letter, .contact-text::first-letter {
    font-size: var(--title-font);
}

.footer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content:flex-end;
    grid-row: 3 / 4;
    align-items: center;
    justify-content: center;
    font-size: calc(var(--main-font) - 3px);
    text-align: center;
    bottom: 0;
}

.github-mark {
    width: var(--main-font);
    filter: invert(1);
    transition: all .3s;
    margin-left: .2rem;
    margin-right: .2rem;
}

.github-mark:hover {
    transform: rotate(360deg);
}

a[href] {
    color: var(--font-color);
    text-decoration: none;
    border-radius: .2rem;
    transition: all .2s;
}

a[href]:hover {
    box-shadow: var(--shadow);
}

a:visited {
    color: var(--font-color);
}