:root {
    --main-font: clamp(16px, 1.6vw, 1.5rem);
    --title-font: clamp(20px, 3vw, 5rem);
    --font-color: rgb(230, 218, 218);
    --background-img: url('../dist/images/pexels-rachel-claire.jpg');
    --shadow: 1px 1px 2px rgb(232, 241, 241);
}

body {
    font-size: var(--main-font);
    color: var(--font-color);
    background-image: var(--background-img);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    margin: 0;
}

#content {
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 1 / 2;
}

.header-button {
    margin: 1rem;
}

.active-button {
    box-shadow: var(--shadow);
}

.main-content {
    grid-row: 2 / 3;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 3 / 4;
    align-items: center;
    justify-content: center;
    font-size: calc(var(--main-font) - 3px);
}

.github-mark {
    width: var(--main-font);
    filter: invert(1);
    transition: all .3s;
    margin-left: .2rem;
    margin-right: .2rem;
}

.github-mark:hover {
    transform: rotate(360deg);
}

a[href] {
    color: var(--font-color);
    text-decoration: none;
    transition: all .2s;
}

a[href]:hover {
    text-shadow: var(--shadow);
}

a:visited {
    color: var(--font-color);
}